/* --------------------------------- global --------------------------------- */
.med-container{
  margin:0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
}
/* ----------------------------------- nav ---------------------------------- */
/* ---------------------------------- about --------------------------------- */
