/* -------------------------------------------------------------------------- */
/*                                   imports                                  */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Hind+Guntur:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Maitree:wght@200;300;400;500;600&family=Merriweather&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto+Slab:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* -------------------------------------------------------------------------- */
/*                                   global                                   */
/* -------------------------------------------------------------------------- */
/* #region */
.med-container{
  margin:0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
}
select{
  font-family: "Roboto";
  background: none;
  box-shadow: none;
  border-style: solid;
  cursor: pointer;
  border-radius: 10px;
}
option{
  font-family:"Roboto-Slab" ;
  background: none;
  border-style: solid;
}
.add-list-btn{
  font-family:"Roboto-Slab" ;
  background: none;
  border-style: solid;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
}
.sml-container{
  max-width:25%;
  margin:0;
}
.lg-container{
  width:100%;
  margin:0;
}
.shove-down{
  margin-top:20vh;
}
.big-font{
  font-family: 'Raleway', sans-serif;
}
.med-font{
  /* font-family: 'Maitree', serif; */
  font-family: 'Cormorant Infant', serif;
  /* font-family: 'Merriweather', serif; */
}
.sml-font{
  /* font-family: 'Hind', sans-serif; */

  font-family: 'Hind Guntur', sans-serif;
}
.color-2{
  color:#895B4A;
}
/* --------------------------------- colors --------------------------------- */
/* dark background-color: #40525C;
wjote background-color: #F1F0EB */
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                 grid effect                                */
/* -------------------------------------------------------------------------- */
/* #region */
.card{
  height:auto;
}

/* hover styles */
.content {
  position: relative;
  margin:0.1rem;
}

.content-img {
  line-height: 0;
  overflow: hidden;
  width:100%;
  border-radius:5px;
}

.content-img .book-img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
  border-radius:5px;
}

.context-text {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(85, 87, 100, 0.4);
  color: #f4f4f4;
  pointer-events: none;
  text-align: center;  
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content:hover .context-text {
  opacity: 1;
}
.content:hover .content-img .book-img {
  filter: blur(2px);
}
.add-btn{
  margin:0;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  color: black;
}
.card:hover .add-btn{  
  opacity: 1;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */
/* #region */
.nav-bar{
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 9;
color:rgb(45, 55, 60);
/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); */
background-color: #F1F0EB;
min-height: 10vh;
font-size: 18px;
text-decoration: none;
text-transform: uppercase;
margin:0;
}
.nav-bar a{
  color:rgb(45, 55, 60)
}
#nav-search-logo{
  max-height: 36px;
}
.nav-search{
  display:flex;  
  
}
.nav-container{
  margin:0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-logo{
  height:5.5rem;
  opacity: 0.8;
  
  transition: opacity 0.5s;
}
.nav-logo:hover{
  opacity: 1;
}
.nav-right{
  display:flex;
  justify-content: space-around;
  min-width: 60vh;
}

.nav-el{
  margin:0;
  padding:0;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}
.nav-el:hover{
  color:#a5967d;  
}

.nav-flex{
  display:flex;
  width:100%;
  justify-content: space-between;
  align-content: space-around;
  align-items:center;
  margin:0;

}
.suggestion-input{
  width:10rem;
  height:1.25rem;
}
.suggestion-container{
display: block;
position: absolute;
width:10rem;
/* border: 1px solid #aaa; */
background-color: #fff;
z-index: 2;

}
.suggestion-box{
  width:10rem;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left:1px solid #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:0.75rem;
  cursor: pointer;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */
/* #region */
.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 90vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 88%, rgba(0,0,0,0.65) 100%), url('./images/test.jpg') no-repeat center center scroll;
  
}

.hero-text {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 72px;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin:0;
  letter-spacing: 0.075em;
  pointer-events: none;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                               about showcase                               */
/* -------------------------------------------------------------------------- */
/* #region */
.about-container{
  text-align: center;
  min-height:85vh;
  background-color: #F1F0EB;
  padding-top:1vh;
  display:flex;
  align-items: center;
}
.about-carousel{
  max-width: 64rem;
  margin:0 auto;
}
.about-showcase-title{
  text-align: left;
  font-size: 24px;
  color:rgb(45, 55, 60);
  font-family: 'Cormorant Infant', serif;
  letter-spacing: -0.05em;
  padding: 1rem;
}
.about-card-title{
  color:rgb(64, 82, 92);
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size:18px;
}
.about-card-text{
  color:rgb(45, 55, 60, 0.8);
  text-align: left;
  
  font-size:16px
}
.about-container h6,p{
  margin: 0;
  padding-top: 0.25rem;
}
.about-article{
  max-width: 16rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.about-img{
  object-fit: fill;
  max-height: 40vh;
  border-radius: 5px;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                  aboutpage                                 */
/* -------------------------------------------------------------------------- */
/* #region */
.about-masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 40vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url('./images/about-page.jpg') no-repeat center center scroll;
}

.about-hero-text {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 5vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 7px;
}
.aboutpage-container{
  text-align: left;
  background-color: #F1F0EB;
  border-radius: 10px;
  margin-top: 5vh;;
  padding-bottom: 1rem;
}
.who-we-are{
  padding:1rem;
  max-width:60vh;
  margin:0 auto;
}
.team-section{
  display:flex;
  justify-content: space-around;
  padding-top: 6rem;  
}
.roboto-slab{
  font-family: "Roboto Slab";
  font-size: 18px;
  color: rgb(45, 55, 60);
  font-weight: 400;
  font-weight: 700;
}
.team-name{
  font-family: "Roboto";
  font-size:14px;
  color: rgb(45, 55, 60);
  margin: 0;
  padding-top: 0.5rem;
}
.roboto{
  font-family: "Roboto";
  color: rgb(45, 55, 60);
  font-size:14px;
  
}
.roboto-slab-title{
  font-family: "Roboto Slab";
  font-size: 16px;
  color: rgb(45, 55, 60);
  
}

.about-page-title{
  text-align: center;
  padding-top: 1rem;
  font-family: 'Raleway', sans-serif;
  color: rgb(45, 55, 60);
  font-size: 24px;
  letter-spacing: 0.05em;  
}

.team-card{
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.team-image{
  max-width:30vh;
  max-height:30vh;
  margin-top: -5rem;
  border-bottom: solid 1px rgb(45, 55, 60,0.5);
  
  
  
}
.team-title{
  text-align: center;
}
.team-titlename{
  padding-top: 1rem;
}
.About-Page{
  padding-bottom: 10vh;
  background-color: #40525C;
  
}
.team-container{
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:space-between;
  justify-content: center;
  
  
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                 newsletter                                 */
/* -------------------------------------------------------------------------- */
/* #region */
.newsletter-wrapper{
  background-color: #40525C;
  
  height:40vh;
  
}
.newsletter-container{
  margin:0 auto;
  display:flex; 
  align-items: center;
  justify-content: space-around;
  max-width: 72rem;
  
}
.newsletter-text{
  color: rgb(45, 55, 60);
  margin:0;
  font-size: 14px;
  font-weight: 300;
  padding-bottom:0.3rem;

}
.newsletter-title{  
  color: rgb(64, 82, 92);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin:0.5rem 0;
  font-size: 1.3em;
  line-height: 1.55em;
}
.newsletter-content-container{
  padding: 15px 30px;
  line-height: 1.5;  
  text-decoration: none;
}
.newsletter-input{
  display:flex;  
  margin-bottom: 0.5rem;
}
.newsletter-input svg{
  padding-left:0.5rem;
  
}

.newsletter-text-container{
  overflow-wrap: break-word;
  background-color: #F1F0EB;
  border-radius: 5px;
  padding:2vh;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.newsletter-img{
  max-height:35vh;
  border-radius:25px;
  margin-top: -5vh;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                  showcase                                  */
/* -------------------------------------------------------------------------- */
/* #region */
.showcase-grid-container{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 5rem; 
  max-width: 40%;
  margin:0 auto;
}
.showcase-container{
  min-height:100vh;
  text-align: center;
  width:100%;
  background-color: #F1F0EB;
  padding-top:1rem;
}
.showcase-btn{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 0.5rem; 
  color:rgb(45, 55, 60);
  font-weight: 500;
  letter-spacing: -0.05em;
} 
.showcase-description{
  font-size: 16px;
  text-decoration: none;
  margin:0 auto;
  max-width: 30%;
  text-align: left;
  line-height: 1;
  margin-bottom: 1rem;
  color:rgb(45, 55, 60, 0.8);

}
.showcase-title{
  color:rgb(45, 55, 60);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 30px;
  margin:1rem auto;
}
.showcase-card{
  max-width: 10rem;
  max-height: 15rem;
}
.showcase-content{
  max-height:40vh;
}
.showcase-img{  
  border-radius:5px;
  height: 15rem;  
}
.add-btn{  
  text-align: left;
  padding-left: 1rem;  
}
.add-txt{
  text-align: left;
  color:rgb(45, 55, 60);
  font-weight: 500;
  letter-spacing: -0.05em;
  font-size: 16px;
  margin:0;
}
.showcase-btn-active{

}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*                                testimonials                                */
/* -------------------------------------------------------------------------- */
/* #region */
.testimonial-wrapper{
  width:100%;
  
  background-color: #40525C;
  
}
.parent {
  padding-top: 5vh;
  max-width: 72rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; 
  text-align: center; 
}
.div-content{
  padding: 15px 30px;
}
.div-image img{
  
  position: relative;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}  
.div-card{
  background-color: rgb(252, 251, 248);
  height:auto;
  display: inline-block;
  position: relative;
  width: 100%;  
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.div1 {
   
}
.div2 {
   
}
.div3 {
   
}
.div4 {
   
}
.div5 {
      
}
.div6 {
   
} 
/* #endregion */
  
/* -------------------------------------------------------------------------- */
/*                              subject showcase                              */
/* -------------------------------------------------------------------------- */
/* #region */
.subject-img{
  position:relative;
  width:100%;
  margin:0;
}
.subject-showcase-card{
  max-width: 5rem;
}
.subject-showcase-wrapper{
  width:100%;
  min-height:35vh;
  background-color: #F1F0EB;
  margin: 0 auto;
  padding-top:1rem;
  
}
.subject-showcase-title{
  color:rgb(45, 55, 60);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 30px;
  margin:1rem auto;
  text-align: left;
}
.subject-showcase-description{
  font-size: 16px;
  text-decoration: none;
  width:50%;
  text-align: left;
  line-height: 1;
  margin-bottom: 2rem;
  color:rgb(45, 55, 60, 0.8);

}
.subject-showcase-container{
  margin:0 auto;
  width:40%
}
.subject-showcase-card-title {  
  color:#F1F0EB;
  /* background-color:rgb(45, 55, 60, 0.1); */
  position: absolute;
  left: 30%;
  top: 30%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  text-shadow: 2px 4px 8px rgb(45, 55, 60); 
  border-radius: 25px;
  margin: 0;
  line-height: 1;
}
.subject-showcase-card:hover .subject-showcase-card-title {
  opacity: 1;
  top: 50%;
}
/* #endregion */

/* -------------------------------------------------------------------------- */
/*                              subject showpage                              */
/* -------------------------------------------------------------------------- */
/* #region */
.subject-showpage-container{
  width:100%;
  min-height:80vh;
  background-color: #40525C;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top:5vh;
  
}
.card-img{
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.grid-body {
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  background-color: #F1F0EB;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  
}
.card-content {
  position: relative;
  margin:0.1rem;
}

.card-img {  
  width:100%
}

.info-card{
  
  position:absolute;
  pointer-events: none;  
  top:0;
  color:#F1F0EB;
  z-index:3;
  background-color:rgb(45, 55, 60, 0.8);;
  padding:10px;
  border:1px solid grey;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-overflow: ellipsis;
  overflow: hidden;
}
/* #endregion */

/* -------------------------------------------------------------------------- */
/*                             personal list index                            */
/* -------------------------------------------------------------------------- */
.personal-list-index-wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: #40525C;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  
  
}
.personal-list-index-title-content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  justify-content: center;
}
.personal-list-index-brand{
  color:#A5967D;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 0.05em;
}
.personal-list-index-title{
  color:#F1F0EB;
  font-size: 42px;
  line-height: 1;
  padding-top: 1rem;
}
.create-list-button{
  cursor: pointer;
  text-align: left;
  color:rgb(241, 240, 235,0.5);
  transition: color 0.5s ease;
}
.create-list-button:hover{
  color:rgb(241, 240, 235);
}
.new-list-form-container{
  position: fixed;
  background-color: #F1F0EB;
  top: 50%;
  left: 50%;
  width:36rem;
  display:flex;
  flex-direction: column;
  margin-top: -20vh;
  margin-left: -18rem;
  align-items: center;
  min-height: 40vh;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.new-list-form-container span{
  margin: 1rem 0;
}
.new-list-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
}
.close-create-form{
  position: absolute;
  right:0;
  top:0;
  padding:1rem 1rem 0 0;
  cursor: pointer;
}
.one-list{
  max-width: 72rem;
  margin:0 auto;
  background-color: #F1F0EB;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem;;
  padding-bottom: 5vh;
}
.one-list-author{
  font-family: 'Maitree', serif;
  font-weight: 600;
  font-size:12px;
  color:rgb(64, 82, 92,0.8);
}
.one-list-content{
  margin: 0 auto;
  display:flex;
  max-width: 80%;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(64, 82, 92);
  margin-bottom: 1rem;
}
.one-list-title{
  font-size: 24px;
  margin:0;
  color: rgb(64, 82, 92);
}
.one-list-description{
  font-size:14px;
  margin:0;
  line-height: 1;
  color: rgb(45, 55, 60,0.8);
  font-weight: 500;
  padding-top:1rem;
}
.temp-flex{
  display:flex;
}
.one-list-text{
  max-width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.one-list-image{
  border-radius: 5px;
  max-width: 100%;
  max-height: 30vh;
  
}
.book-delete{
  border: solid 0px #2d373c;
  border-radius: 25px;
  transition: border-width ease;
  cursor: pointer;
}
.book-delete:hover{
  border-width: 1px;

}
.list-delete{
  position: absolute;
  top:0%;
  right:0%;
  padding: 1rem 1rem 0 0;
  cursor: pointer;
}


.one-list-edit{
 font-size: 12px;
 cursor: pointer;
 color: rgb(64, 82, 92, 0.5);
 transition: color 0.5s ease;
}
.one-list-edit:hover{
  color: rgb(64, 82, 92, 0.8);
}
.one-book-container{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(45, 55, 60,0.5);
  padding: 0.5rem 0;
}
.one-book-text{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.one-book-description{
  font-size:10px;
  max-width: 60%;
}
.one-book-img{
  border-radius: 5px;
}
.one-book-title{
  text-decoration: none;
  font-family: 'Maitree', serif;
  color: rgb(64, 82, 92);
  transition: color 0.5s ease;
  font-weight: 500;
}
.one-book-title:hover{
  color: #A5967D;

}
/* -------------------------------------------------------------------------- */
/*                                   profile                                  */
/* -------------------------------------------------------------------------- */
.profile-page{
  min-height: 80vh;
  background-color: #40525C;
  padding-top: 5vh;;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-content{
  display: flex;
  flex-direction: column;
  margin:0;
  font-family: 'Raleway', sans-serif;
  color: rgb(64, 82, 92);
  background-color: #F1F0EB;
  padding: 1rem;
  border-radius: 5px;
}
.profile-pic{
  border-radius: 10px;
  border: solid 1px rgb(64, 82, 92);
}
/* -------------------------------------------------------------------------- */
/*                              book showpage                              */
/* -------------------------------------------------------------------------- */
.book-showpage-wrapper{
  width:100%;
  min-height:100vh;
  background-color: #40525C;
  margin-top: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;

}
.book-container{
  background-color: #F1F0EB;
  margin: 0 auto;
  width:72rem;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  padding-top:2rem;
  min-height: 80vh;
}
.book-left-col{
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(64, 82, 92,0.2);
  padding:1rem;
  border-radius: 5px;
  max-height: 70vh;
}
.book-right-col{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding:1rem;
  
  
}
.book-title{
  font-family: "Raleway";
  
  margin: 0;
  font-size: 24px;
  color: #895B4A;
  letter-spacing: 0.05em;
  

}
.related-subjects{
  color:rgb(64, 82, 92);
  line-height: 1.5;
}
.book-image{
  max-height:auto;  
  min-height: 40vh;
  border-radius: 5px;
}
.book-subject{
  border-right: solid 1px rgb(64, 82, 92,0.5);
  color:rgb(64, 82, 92,0.8);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.5s ease;
  
}
.book-subject:hover{
  color:rgb(64, 82, 92);
}
.book-author{
  color:rgb(64, 82, 92);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  border-right: solid 1px rgb(64, 82, 92,0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin:0.5rem 0 0.25rem 0;
  text-decoration: none;
  
  
}

.shift-left{
  margin-left:-0.5rem;
}
.book-descript{
  max-width: 80%;
  font-size: 14px;
  margin:0;
  line-height: 1.5;
  color: rgb(45, 55, 60);
  font-weight: 400;
  padding-top:1rem;
  font-family: 'Roboto Slab', serif;
  
}
.book-publish{
  font-size: 14px;
  margin:0;
  line-height: 1;
  color: rgb(45, 55, 60);
  font-weight: 400;
  padding-top:1rem;
  font-family: 'Roboto Slab', serif;
}
.book-links{
  padding-top: 1rem;
  color: rgb(45, 55, 60);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size:14px;
  margin:0;
}
.book-links a{
  font-family: 'Hind Guntur', sans-serif;
  color: rgb(45, 55, 60);
}
.book-link-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  

}
.toggle-show{
  font-family: 'Roboto Slab', serif;
  color: rgb(165, 150, 125,0.8);
  font-weight: 500;
  transition: color 0.5s ease;
  cursor: pointer;
  font-size: 14px;
}
.toggle-show:hover{
  color: rgb(165, 150, 125);
}
.book-add-btn h2{
  margin:0;
  font-size:16px;
  display:flex;
  flex-direction: column;
}
.add-dropdown{
  display: flex;
  flex-direction: column;
}
.book-add-txt {
  color: rgb(165, 150, 125,0.8);
  cursor: pointer;
  transition: color 0.5s ease;
}
.book-add-txt:hover{
  color: rgb(165, 150, 125);
  
}
/* -------------------------------------------------------------------------- */
/*                               author showpage                              */
/* -------------------------------------------------------------------------- */
.works-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  
}
.one-work-img{
  border-radius: 5px;
}
.one-work{
  display: flex;
  margin: 0 auto;
  width:80%;
  padding: 0.5rem;
    
  align-items: center;
  border-bottom: 1px solid rgb(45, 55, 60,0.5);
  
}
.one-work-text{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.one-work-title{
  text-decoration: none;
  font-family: 'Maitree', serif;
  color: rgb(64, 82, 92);
  transition: color 0.5s ease;
  font-weight: 500;
}
.one-work-title:hover{
  color: #A5967D;

}
.one-work-description{
  font-size:12px;
  
}
.b-day{
  color: rgb(64, 82, 92);
  font-size: 12px;
  font-weight: 500;
  
}
.wiki{
  text-decoration: none;
  color: rgb(64, 82, 92,0.8);
  transition: color 0.5s ease;
}
.wiki:hover{
  
  color: rgb(64, 82, 92);
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
/* #region */


.footer-container{
  width: 100%;
  height:50vh;
  background-color:rgb(231, 225, 209,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-logo{
  max-width:15vh;
  max-height: 15vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.footer-logos svg{
  width:33px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.footer-logos svg:hover{
  transform:scale(1.1)
}
.footer-text{
  max-width:60vh;
  color:rgb(45, 55, 60, 0.8);
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  font-size:16px;
  
}
.footer-descript{
  width:30vh;
}
.footer-logos{
  margin: 3vh 0 3vh 0;
}
.footer-links{
margin: 3vh 0 3vh 0;
color:rgb(45, 55, 60);
font-family: 'Hind Guntur', sans-serif;
cursor: pointer;
}
.footer-link-el{
  padding-right:3vh;
}
.footer-link-el{
  padding-right:3vh;
}
/* #endregion */

/* -------------------------------------------------------------------------- */
/*                                 testmonials                                */
/* -------------------------------------------------------------------------- */
.testimonial-wrapper{
  
  background-color: #40525C;
  padding-top:1rem;
  padding-bottom: 10vh;
}
.testimonial-content{
  width:72rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  margin: 0 auto;
  height: 60vh;
}
.testimonial-card-section{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width:68rem;
}
.testimonial-title-section{
  text-align: center;
}
.testimonial-card{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F0EB;
  border-radius: 10px;
  padding: 2rem 0;
}
.testimonial-card-description{
  color:rgb(45, 55, 60, 0.8);
  text-align: left;
  line-height: 1;
  font-size:16px;
  max-width: 80%;
}

.testimonial-card-title{
  color:rgb(64, 82, 92);
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size:18px;
  margin:0;
  padding:1rem 0;
}
.testimonial-title{  
  color: #F1F0EB;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin:0.5rem 0;
  font-size: 1.3em;
  line-height: 1.55em;
}
.testimonial-text{
  color: #F1F0EB;
  margin:0;
  font-size: 14px;
  font-weight: 300;
  padding-bottom:0.3rem;

}